@import url('https://fonts.googleapis.com/css2?family=Karla:wght@200;400&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Karla', sans-serif;
}

.container{
  width: 550px;
  height: 550px;
  margin: 10px auto;
  border: 1px solid black;
}

.navigation--bar{
  height: 65px;
  display: flex;
  align-items: center;
  color: white;
  font-size: 20.7482px;
  letter-spacing: 1px;
  background: linear-gradient(150deg, #672280 5.18%, #A626D3 100%);
}

.navigation--bar div{
  padding-left: 29px;
  padding-right: 28px;

}

.content--container{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}